<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="client.aib_labswp_2017_ss_entnahmeapp">

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/cegat"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.PickListActivity"
                android:configChanges="orientation"
                android:label="@string/title_activity_login"
                android:parentActivityName="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.LoginActivity"
                android:configChanges="orientation"
                android:label="@string/title_activity_login"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="client_aib_labswp_2017_ss_entnahmeapp.View.view.scan.ScanActivity"
                android:configChanges="orientation"
                android:label="@string/title_activity_login"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.LaboratoryGui"
                android:configChanges="orientation"
                android:label="@string/title_activity_labor"
                android:parentActivityName="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.ReturnGUI"
                android:parentActivityName="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="client_aib_labswp_2017_ss_entnahmeapp.View.view.popup.PopPicklist"
                android:parentActivityName="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.PickListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity
                android:name="client_aib_labswp_2017_ss_entnahmeapp.View.view.popup.PopSanger"
                android:parentActivityName="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.LastSangerListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity
                android:name="client_aib_labswp_2017_ss_entnahmeapp.View.view.popup.PopTracking"
                android:parentActivityName="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.LaboratoryGui"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.CustomTheme">
        </activity>

        <activity android:name="client_aib_labswp_2017_ss_entnahmeapp.View.view.popup.PopReturn"
                  android:parentActivityName="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.ReturnGUI"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.LastSangerListActivity"
                  android:parentActivityName="client_aib_labswp_2017_ss_entnahmeapp.View.view.guis.LoginActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>